BookingHotel_Client/Connected Services/ServiceReference2/BookingHotel_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookingHotel_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookingHotel_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetailTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailTrans" nillable="true" type="tns:DetailTrans" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailTrans" nillable="true" type="tns:ArrayOfDetailTrans" />
  <xs:complexType name="DetailTrans">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_detailtrans" type="xs:int" />
      <xs:element minOccurs="0" name="id_trans" type="xs:int" />
      <xs:element minOccurs="0" name="id_kamar" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:int" />
      <xs:element minOccurs="0" name="kodekamar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="harga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailTrans" nillable="true" type="tns:DetailTrans" />
</xs:schema>